{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/coming.css' %}">
    <link rel="stylesheet" href="{% static 'assests/bootstrap-icons/bootstrap-icons.css' %}">
    <link rel="stylesheet" href="{% static 'assests/remixicon/remixicon.css' %}">
    <link rel="stylesheet" href="{% static 'assests/boxicons/css/boxicons.css' %}">
    <link rel="shortcut icon" href="image/terrah2.png" type="image/x-icon">
    <title>Success</title>
</head>
<body class="success">
    <div class="coming-soon">
        <div class="top">
            <nav>
                <a href="test.html">About</a>
                <a href="">Contact Us</a>
            </nav>
            <img src="{% static 'image/logo.png' %}" alt="" class="logo-img">
            <h5><span>20</span> days Left</h5>
        </div>
        <div class="bottom">
            <img src="{% static 'image/handshake.gif' %}" alt="" class="welcome">
            <h1>WELCOME ONBOARD!!!</h1>
        </div>
    </div>
</body>
</html>